<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dane.dni"
    android:versionCode="1"
    android:versionName="@string/version_code" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".watch.Watch"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsTheme" >
        </activity>

        <receiver
            android:name=".alarms.external.HolidayAlarmReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="com.dane.dni.ACTION_NOTIFY_FOR_HOLIDAY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alarms.external.AlarmBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alarms.external.SystemTimeChangeReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alarms.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@style/AlarmTheme" >
            <intent-filter>
                <action android:name="com.dane.dni.CUSTOM_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".preferences.SettingsActivity" />
        </activity>
    </application>

</manifest>
